# WeatherPy
----

### Analysis
* As expected, the weather becomes significantly warmer as one approaches the equator (0 Deg. Latitude). More interestingly, however, is the fact that the southern hemisphere tends to be warmer this time of year than the northern hemisphere. This may be due to the tilt of the earth.
* There is no strong relationship between latitude and cloudiness. However, it is interesting to see that a strong band of cities sits at 0, 80, and 100% cloudiness.
* There is no strong relationship between latitude and wind speed. However, in northern hemispheres there is a flurry of cities with over 20 mph of wind.

---

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time

# Import API key
from api_keys import api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lats_lngs = []
cities = []
geocordinates = []
country_codes = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(low=-90.000, high=90.000, size=1500)
lngs = np.random.uniform(low=-180.000, high=180.000, size=1500)
lats_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lats_lngs:
    
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    code = citipy.nearest_city(lat_lng[0], lat_lng[1]).country_code
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)
        geocordinates.append(lat_lng)
        country_codes.append(code)

# Print the city count to confirm sufficient amount of cities
print(f"City count: {len(cities)} and geocoordinate count: {len(geocordinates)}.")

City count: 599 and geocoordinate count: 599.

In [3]:
# Create a data frame to collect cities, country codes, and coordinates
city_geo_df = pd.DataFrame({'Cities': cities, 
                            'Country Code': country_codes, 
                            'Geo_Coord.': geocordinates,})
# Check city_geo_df 
city_geo_df.head()

         Cities Country Code                                 Geo_Coord.
0      cherskiy           ru    (81.58703484152852, 157.86512165518934)
1     umzimvubu           za    (-41.07389838424479, 37.49384294055159)
2     kirovskiy           ru    (45.98896507271587, 48.168484458869244)
3      saldanha           za   (-45.75040801188646, -8.851559143614281)
4  punta arenas           cl  (-50.595541848856286, -73.47768753361387)

In [4]:
# Create a column to combine City and Country
# Will be used in OpenWeatherMap API
city_geo_df['City,Country'] = city_geo_df['Cities'] + ',' + city_geo_df['Country Code']

# Check city_geo_df and new column, City,Country
city_geo_df.head()

,Cities,Country Code,Geo_Coord.,"City,Country"
0,cherskiy,ru,"(81.58703484152852, 157.86512165518934)","cherskiy,ru"
1,umzimvubu,za,"(-41.07389838424479, 37.49384294055159)","umzimvubu,za"
2,kirovskiy,ru,"(45.98896507271587, 48.168484458869244)","kirovskiy,ru"
3,saldanha,za,"(-45.75040801188646, -8.851559143614281)","saldanha,za"
4,punta arenas,cl,"(-50.595541848856286, -73.47768753361387)","punta arenas,cl"

In [5]:
# Create a new DataFrame to prepare to include city,country, 
#  latitudes, and weather information
city_weather_df = pd.DataFrame({'City,Country':city_geo_df['City,Country']})
city_weather_df['Latitude'] = ""
city_weather_df['Longitude'] = ""
city_weather_df['Temperature'] = ""
city_weather_df['Humidity'] = ""
city_weather_df['Cloudiness'] = ""
city_weather_df['Wind Speed (mph)'] = ""

# Check new city_weather_df 
city_weather_df.head()

,"City,Country",Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed (mph)
0,"cherskiy,ru",,,,,,
1,"umzimvubu,za",,,,,,
2,"kirovskiy,ru",,,,,,
3,"saldanha,za",,,,,,
4,"punta arenas,cl",,,,,,

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [7]:
# Test calling Current Weather Data API from OpenWeatherMap

# Test base url to use
test_url = "http://api.openweathermap.org/data/2.5/weather?"

# Test city
test_city = "London,UK"

# Parameter to make temperature read in Fahrenheit
test_temp_unit = "imperial"

# Test target url using test_city, api_key, test_temp_unit
target_url = test_url + "q={0}&APPID={1}&units={2}".format(test_city, api_key, test_temp_unit)

# Request for test weather infromation for London, UK and format in json
test_results = requests.get(target_url).json()

# Print test_results of London weather in json format
test_results

{'coord': {'lon': -0.13, 'lat': 51.51},
 'weather': [{'id': 804,
   'main': 'Clouds',
   'description': 'overcast clouds',
   'icon': '04n'}],
 'base': 'stations',
 'main': {'temp': 44.8,
  'pressure': 1037,
  'humidity': 81,
  'temp_min': 42.8,
  'temp_max': 46.4},
 'visibility': 10000,
 'wind': {'speed': 3.36, 'deg': 260},
 'clouds': {'all': 90},
 'dt': 1546818600,
 'sys': {'type': 1,
  'id': 1417,
  'message': 0.2373,
  'country': 'GB',
  'sunrise': 1546848282,
  'sunset': 1546877335},
 'id': 2643743,
 'name': 'London',
 'cod': 200}

In [8]:
# Test extracting infromation from test_results
# Looking at main temperature and cloudiness 
test_temp = test_results['main']['temp']
test_cloudiness = test_results['clouds']['all']
test_lat = test_results['coord']['lat']

print(f"Test results for London,UK: main temp - {test_temp},")
print(f"cloudiness - {test_cloudiness}, and lat is {test_lat}.")

Test results for London,UK: main temp - 44.8,
cloudiness - 90, and lat is 51.51.

In [9]:
# Loop through the city_weater_df and get weather data

# Set up params for OpenWeatherAPI
params = {"APPID": api_key,}

# Use iterrows to iterate through city_weather_df
for index, row in city_weather_df.iterrows():
   
    # Base url for OpenWeatherMap API
    base_url = "http://api.openweathermap.org/data/2.5/weather?"
    
    # Get city,country info from city_weather_df:
    city_country = row["City,Country"]
    
    
    # Add Keyword to parameters dictionary:
    params['q'] = city_country
    params['units'] = "imperial"
    
    # Request to endpoint and convert result to json
    city_results = requests.get(base_url, params=params).json()

    try:
        city_weather_df.loc[index, 'Temperature'] = city_results['main']['temp']
        city_weather_df.loc[index, 'Humidity'] = city_results['main']['humidity']
        city_weather_df.loc[index, 'Cloudiness'] = city_results['clouds']['all']
        city_weather_df.loc[index, 'Wind Speed (mph)'] = city_results['wind']['speed']
        city_weather_df.loc[index, 'Latitude'] = city_results['coord']['lat']
        city_weather_df.loc[index, 'Longitude'] = city_results['coord']['lon']
        
    except (KeyError, IndexError):
        print(f"{city_country} cannot be found or has missing data")

city_weather_df.head()

umzimvubu,za cannot be found or has missing data
mataura,pf cannot be found or has missing data
taolanaro,mg cannot be found or has missing data
marzuq,ly cannot be found or has missing data
vaitupu,wf cannot be found or has missing data
belushya guba,ru cannot be found or has missing data
nizhneyansk,ru cannot be found or has missing data
illoqqortoormiut,gl cannot be found or has missing data
terenga,ru cannot be found or has missing data
karkaralinsk,kz cannot be found or has missing data
ambodifototra,mg cannot be found or has missing data
marcona,pe cannot be found or has missing data
ondorhaan,mn cannot be found or has missing data
umm jarr,sd cannot be found or has missing data
sumbawa,id cannot be found or has missing data
acarau,br cannot be found or has missing data
karaul,ru cannot be found or has missing data
airai,pw cannot be found or has missing data
san quintin,mx cannot be found or has missing data
barentsburg,sj cannot be found or has missing data
bolungarvik,is cannot be found or has missing data
pinotepa nacional,mx cannot be found or has missing data
moiyabana,bw cannot be found or has missing data
san lazaro,py cannot be found or has missing data
amderma,ru cannot be found or has missing data
codrington,ag cannot be found or has missing data
avera,pf cannot be found or has missing data
naftah,tn cannot be found or has missing data
saint anthony,ca cannot be found or has missing data
catamarca,ar cannot be found or has missing data
tumannyy,ru cannot be found or has missing data
haibowan,cn cannot be found or has missing data
camana,pe cannot be found or has missing data
sentyabrskiy,ru cannot be found or has missing data
saleaula,ws cannot be found or has missing data
villazon,bo cannot be found or has missing data
warqla,dz cannot be found or has missing data
asau,tv cannot be found or has missing data
faya,td cannot be found or has missing data
sataua,ws cannot be found or has missing data
shkotovo-26,ru cannot be found or has missing data
abu samrah,qa cannot be found or has missing data
taga,ws cannot be found or has missing data
yirol,sd cannot be found or has missing data
bokspits,bw cannot be found or has missing data
papeari,pf cannot be found or has missing data
bengkulu,id cannot be found or has missing data
shchuchye,ru cannot be found or has missing data
yanchukan,ru cannot be found or has missing data
grand river south east,mu cannot be found or has missing data
goderich,sl cannot be found or has missing data
punta de piedra,hn cannot be found or has missing data
kazalinsk,kz cannot be found or has missing data
nguiu,au cannot be found or has missing data
attawapiskat,ca cannot be found or has missing data
meyungs,pw cannot be found or has missing data
mys shmidta,ru cannot be found or has missing data
laguna,br cannot be found or has missing data
lasa,cn cannot be found or has missing data
vestbygda,no cannot be found or has missing data
milkovo,ru cannot be found or has missing data
sonoita,mx cannot be found or has missing data
tsihombe,mg cannot be found or has missing data
tabukiniberu,ki cannot be found or has missing data
samusu,ws cannot be found or has missing data
malwan,in cannot be found or has missing data
paradwip,in cannot be found or has missing data
zlobin,by cannot be found or has missing data
sodertalje,se cannot be found or has missing data
sindand,af cannot be found or has missing data
gat,ly cannot be found or has missing data
galchino,ru cannot be found or has missing data
kemijarvi,fi cannot be found or has missing data
zmiyiv,ua cannot be found or has missing data
xiangfan,cn cannot be found or has missing data
kushmurun,kz cannot be found or has missing data
lolua,tv cannot be found or has missing data
alotau,pg cannot be found or has missing data
tigre,pa cannot be found or has missing data

,"City,Country",Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed (mph)
0,"cherskiy,ru",68.75,161.3,-39.68,85,8,1.68
1,"umzimvubu,za",,,,,,
2,"kirovskiy,ru",45.09,133.51,-12.18,58,0,2.35
3,"saldanha,za",-33.01,17.94,60.8,77,0,8.05
4,"punta arenas,cl",-53.16,-70.91,48.2,49,40,19.46

In [10]:
# Confirm count of cities in city_weather_df 
print(f" The city_weather_df has {len(city_weather_df)} cities.")

 The city_weather_df has 599 cities.

In [14]:
# Drop cities from city_weather_df that were not found in OpenWeatherMap data

# First, replace empty values in DataFram with NaN
city_weather_df.replace('', np.nan, inplace=True)

# Check that empty values were replaced with NaN
city_weather_df.head()

,"City,Country",Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed (mph)
0,"cherskiy,ru",68.75,161.30,-39.68,85.0,8.0,1.68
1,"umzimvubu,za",NaN,NaN,NaN,NaN,NaN,NaN
2,"kirovskiy,ru",45.09,133.51,-12.18,58.0,0.0,2.35
3,"saldanha,za",-33.01,17.94,60.80,77.0,0.0,8.05
4,"punta arenas,cl",-53.16,-70.91,48.20,49.0,40.0,19.46

In [18]:
# Drop row that have NaN values
city_weather_df.dropna(inplace=True)

# Check that drops occured
city_weather_df.head()

,"City,Country",Latitude,Longitude,Temperature,Humidity,Cloudiness,Wind Speed (mph)
0,"cherskiy,ru",68.75,161.30,-39.68,85.0,8.0,1.68
2,"kirovskiy,ru",45.09,133.51,-12.18,58.0,0.0,2.35
3,"saldanha,za",-33.01,17.94,60.80,77.0,0.0,8.05
4,"punta arenas,cl",-53.16,-70.91,48.20,49.0,40.0,19.46
6,"antofagasta,cl",-23.65,-70.40,68.00,68.0,75.0,12.75

In [20]:
# Print the new number of cities that have complete weather data
print(f"city_weather_df has {len(city_weather_df)} cities with complete weather data.")

city_weather_df has 520 cities with complete weather data.

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [21]:
# Create out put csv file of data
output_data_file = "output_data/cities.csv"

city_weather_df.to_csv(output_data_file)

FileNotFoundError: [Errno 2] No such file or directory: 'output_data/cities.csv'

### Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

#### Latitude vs. Temperature Plot

#### Latitude vs. Humidity Plot

#### Latitude vs. Cloudiness Plot

#### Latitude vs. Wind Speed Plot