In [3]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Import API key
from config import gkey

In [4]:
# Import cities file into datafraem
cities_df = pd.read_csv("../Resources/Cities.csv")

# Print overview of data frame, cities_df
cities_df.head()

            City         State
0  New York City      New York
1    Los Angeles    California
2        Chicago      Illinois
3        Houston         Texas
4   Philadelphia  Pennsylvania

In [5]:
cities_df["Location"] = cities_df["City"].map(str) + ", " + cities_df["State"]

cities_df.head()

            City         State                    Location
0  New York City      New York     New York City, New York
1    Los Angeles    California     Los Angeles, California
2        Chicago      Illinois           Chicago, Illinois
3        Houston         Texas              Houston, Texas
4   Philadelphia  Pennsylvania  Philadelphia, Pennsylvania

In [6]:
# Add columns for lat, lng, airport name, airport address, airport rating.
cities_df['Latitude'] = ""
cities_df['Longitude'] = ""
cities_df['Airport Name'] = ""
cities_df['Airport Address'] = ""
cities_df['Airport Rating'] = ""

# Hint: Be sure to specify "" as the initial value for each column.

# Print overview of modified cities_df:
cities_df.head()

,City,State,Location,Latitude,Longitude,Airport Name,Airport Address,Airport Rating
0,New York City,New York,"New York City, New York",,,,,
1,Los Angeles,California,"Los Angeles, California",,,,,
2,Chicago,Illinois,"Chicago, Illinois",,,,,
3,Houston,Texas,"Houston, Texas",,,,,
4,Philadelphia,Pennsylvania,"Philadelphia, Pennsylvania",,,,,

In [18]:
# Loop through the cities_df and get the lat/long for each city

params = {"key": gkey}

# target_url = base_url + 'address={0}&key={1}'.format(target_city, gkey)

# Use iterrows to iterate through cities_df
for index, row in cities_df.iterrows():
   
    # Base url per city
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    
    # Get city name from cities_df:
    city_state = row["Location"]
    
    
    # Add Keward to parameters dictionary:
    params['address'] = city_state
    
    # Create target url
#     target_url = base_url + 'address={}'
    
    # Assemble url and make API request
#     print(f"Retrieving results for Index {index}: {city_state}.")
    
    # Request to endpoint and convert result to json
    results = requests.get(base_url, params=params).json()['results']
#     print(index, len(results))

    cities_df.loc[index, 'Latitude'] = results[0]["geometry"]["location"]["lat"]
    cities_df.loc[index, 'Longitude'] = results[0]["geometry"]["location"]["lng"]
        
#     except (KeyError, IndexError):
#         print("Missing data")

cities_df.head()
# Hint: `requests.get(target_url).json()`
# Hint: `for index, row in cities_pd.iterrows():`
# Hint: `cities_pd.loc`

,City,State,Location,Latitude,Longitude,Airport Name,Airport Address,Airport Rating
0,New York City,New York,"New York City, New York",40.7128,-74.006,,,
1,Los Angeles,California,"Los Angeles, California",34.0522,-118.244,,,
2,Chicago,Illinois,"Chicago, Illinois",41.8781,-87.6298,,,
3,Houston,Texas,"Houston, Texas",29.7604,-95.3698,,,
4,Philadelphia,Pennsylvania,"Philadelphia, Pennsylvania",39.9526,-75.1652,,,

In [49]:
# Use the lat/lng we recovered to identify airports
# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings

params2 = {"radius": 50000,
           "type": "airport",
           "keyord": "international",
           "key": gkey}

# Go through cities_df 
for index, row in cities_df.iterrows():
    
    # Make variables out of values from Latitude and Longitude
    lat = row['Latitude']
    long = row['Longitude']
    
    # New paramater latitude, longitude 
    geo_location = f"{lat},{long}"
    
    # Base URL to find airports
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Add latitude, longitude to paramaters
    params2["location"] = geo_location
    
    # Request to endpoint and convert result to json
    airport_results = requests.get(base_url, params=params2).json()['results']
    
    try: 
        cities_df.loc[index, 'Airport Name'] = airport_results[0]["name"]
        cities_df.loc[index, 'Airport Address'] = airport_results[0]["vicinity"]
        cities_df.loc[index, 'Airport Rating'] = airport_results[0]["rating"]
    
    except (KeyError, IndexError):
        print(f"{index}, no data")

nope
nope
nope
nope
nope
nope
nope
nope
nope
nope
nope

,City,State,Location,Latitude,Longitude,Airport Name,Airport Address,Airport Rating
0,New York City,New York,"New York City, New York",40.7128,-74.006,Sands Point Seaplane Base,"15 Orchard Beach Boulevard, Port Washington",5
1,Los Angeles,California,"Los Angeles, California",34.0522,-118.244,Bob Hope Airport,"2627 North Hollywood Way, Burbank",4.4
2,Chicago,Illinois,"Chicago, Illinois",41.8781,-87.6298,O'Hare International Airport,"10000 W O'Hare Ave, Chicago",3.6
3,Houston,Texas,"Houston, Texas",29.7604,-95.3698,George Bush Intercontinental Airport,"2800 North Terminal Road, Houston",3.8
4,Philadelphia,Pennsylvania,"Philadelphia, Pennsylvania",39.9526,-75.1652,Atsion Helistop,Shamong,3.7

In [50]:
# Save Data to csv
cities_df.to_csv("Airport_Output.csv")

# Visualize to confirm airport data appears
cities_df.head(10)

,City,State,Location,Latitude,Longitude,Airport Name,Airport Address,Airport Rating
0,New York City,New York,"New York City, New York",40.7128,-74.006,Sands Point Seaplane Base,"15 Orchard Beach Boulevard, Port Washington",5
1,Los Angeles,California,"Los Angeles, California",34.0522,-118.244,Bob Hope Airport,"2627 North Hollywood Way, Burbank",4.4
2,Chicago,Illinois,"Chicago, Illinois",41.8781,-87.6298,O'Hare International Airport,"10000 W O'Hare Ave, Chicago",3.6
3,Houston,Texas,"Houston, Texas",29.7604,-95.3698,George Bush Intercontinental Airport,"2800 North Terminal Road, Houston",3.8
4,Philadelphia,Pennsylvania,"Philadelphia, Pennsylvania",39.9526,-75.1652,Atsion Helistop,Shamong,3.7
5,Phoenix,Arizona,"Phoenix, Arizona",33.4484,-112.074,Phoenix Sky Harbor International Airport,"3400 East Sky Harbor Boulevard, Phoenix",3.9
6,San Antonio,Texas,"San Antonio, Texas",29.4241,-98.4936,San Antonio International Airport,"9800 Airport Boulevard, San Antonio",4
7,San Diego,California,"San Diego, California",32.7157,-117.161,San Diego International Airport,"3225 North Harbor Drive, San Diego",3.9
8,Dallas,Texas,"Dallas, Texas",32.7767,-96.797,Phil L Hudson Municipal Airport,Mesquite,
9,San Jose,California,"San Jose, California",37.3382,-121.886,Norman Y. Mineta San Jose International Airport,"1701 Airport Boulevard, San Jose",4.1